
#name{
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px; 
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#name::placeholder{
    color: rgb(51, 51, 51);
    font-size: 16px;
    text-align: center;
}

#phone{
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px; 
    text-align: center;
    font-size: 16px; 
    margin-bottom: 15px;
}
#phone::placeholder{
    color: rgb(51, 51, 51);
    font-size: 16px;
    text-align: center;
}

#carNumber{
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px; 
    text-align: center;
    font-size: 16px; 
    margin-bottom: 15px;
}

#carNumber::placeholder{
    color: rgb(51, 51, 51);
    font-size: 16px;
    text-align: center;
}
#carType{
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px; 
    text-align: center;
    font-size: 16px; 
    margin-bottom: 15px;
}

#carType option{
    font-size: 16px;
    text-align: center;
}

#floor{
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px; 
    text-align: center;
    font-size: 16px; 
    margin-bottom: 15px;
}
#floor option{
    font-size: 16px;
    text-align: center;
   
}

#slot{
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px; 
    text-align: center;
    font-size: 16px; 
    margin-bottom: 15px;
}
#slot option{
    font-size: 16px;
    text-align: center;
}

.submit{
    background-color: transparent;
    border: none;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
}

.submit:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}